* {
    box-sizing: border-box;
    font-size: 1em;
  }
body {
    width:960px;
    margin-left:20px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 2em;
    
}

ul:first-of-type {
    list-style-type: none;
    margin: 0ex;
    padding: 0ex;
}

ul:first-of-type ul {
    padding-left: 40px;
}

h2 {
    padding-left: 1em;
    background-color: #DFE3E6;
    color: #CC1C0D;
    border: solid #929CA4;
    border-radius: 5px;
    border-width: thin;

}

a {
    color: #CC1C0D;
}

section img[width="80"]  {
    float:left; 
    margin: 10px 10px 10px 0;
    border: solid #CC1C0D;
    border-radius: 40%;
    border-width: thin;
}

div img  {
    float:left; 
    margin: 10px 10px 10px 0;
}

div#solutions p::first-line {
    font-weight: bold
}

section.pricing div {
    
    border: solid #929CA4;
    border-radius: 5px;
    flex: 25%;
    text-align: center;
    border-width: thin;
    margin: 4px;
    box-sizing: border-box;


}

.pricing div img  {
    float: none;
    margin-bottom: 0px;
    margin-top: 20px;
}

.pricing {
    display: flex;
   
} 

.pricing div hr {
    border: 4px solid;
   
}
.pricing div:first-child hr {
    color: #cc1c0d;
    }
.pricing div:nth-child(2) hr {
    color: #37a4a4;
    }
.pricing div:nth-child(3) hr {
    color: #685288;
    }
.pricing div:nth-child(4) hr {
    color: #000000;}

.pricing div:nth-child(4) p {
    line-height: 42.5px;
}

section div img {
    width:63px;
    height:36px;
}
